body {
background-color:#F3E5AB;
font-family:Impact (sans-serif);
}

.textbox{
width:300px;
display:block; /*Baixa de linea el text box*/

}

.textbox:hover{
cursor: text;
}

.textbox:focus{
border-width:3px;
border-color:#5A5A5A;

}

#numero{
width:100px;
display:block;
}

#btnEnviar, #retorn{
    display: inline-block;
    background-color: #ff5733;
    color: #fff;
    text-decoration: none;
    border: 2px solid #FF5733;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#btnEnviar:hover, #retorn:hover {
    background-color: #fff;
    color: #ff5733;
    transform: scale(1.1);
}










