
h1 {
  color: navy;
  margin-left: 20px;
}

table {
border-collapse: separate;
border-color:#848484
text-align:center;
margin:0 auto;
}

caption {
text-align:center;
color:purple;
}

th {
background-color:#848484
}



